@{
    ViewData["Title"] = "Подтверждение восстановления пароля";
}

<h2>@ViewData["Title"]</h2>
<p>
    Мы отправили вам email с инструкциями по восстановлению пароля. Пожалуйста, проверьте свою почту.
</p>
