<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Образовательный портал</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body class="d-flex flex-column min-vh-100">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link nav-button" asp-controller="Home" asp-action="Index">Главная</a>
                        </li>

                    </ul>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav ms-auto">
                        @if (User.Identity.IsAuthenticated)
                        {
                            @if (User.IsInRole("Administrator"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link nav-button" asp-controller="Admin" asp-action="Index">
                                        <i class="fas fa-cog"></i> Админ-панель
                                    </a>
                                </li>
                            }
                            @if (User.IsInRole("Teacher"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link nav-button" asp-controller="Teacher" asp-action="Index">
                                        <i class="fas fa-chalkboard-teacher"></i> Кабинет
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link nav-button" asp-controller="Class" asp-action="Index">
                                        <i class="fas fa-users"></i> Классы
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link nav-button" asp-controller="Test" asp-action="Index">
                                        <i class="fas fa-tasks"></i> Тесты
                                    </a>
                                </li>
                            }
                            @if (User.IsInRole("Student"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link nav-button" asp-controller="Student" asp-action="Index">
                                        <i class="fas fa-user-graduate"></i> Кабинет
                                    </a>
                                </li>
                            }
                            @if (User.IsInRole("Teacher") || User.IsInRole("Administrator"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link nav-button" asp-controller="StudentManagement" asp-action="Index">
                                        <i class="fas fa-user-plus"></i> Ученики
                                    </a>
                                </li>
                            }
                            <li class="nav-item">
                                <form class="form-inline" asp-controller="Account" asp-action="Logout" method="post">
                                    <button type="submit" class="nav-link nav-button border-0">
                                        <i class="fas fa-sign-out-alt"></i> Выйти
                                    </button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link nav-button" asp-controller="Account" asp-action="Login">
                                    <i class="fas fa-sign-in-alt"></i> Вход
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link nav-button" asp-controller="Account" asp-action="Register">
                                    <i class="fas fa-user-plus"></i> Регистрация
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <div class="container flex-grow-1">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer mt-auto py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-4 mb-md-0">
                    <h5 class="footer-heading">Образовательный портал</h5>
                    <p class="footer-text">Эффективная подготовка к ЕГЭ по русскому языку с использованием современных образовательных технологий.</p>
                </div>
                <div class="col-md-4 mb-4 mb-md-0">
                    <h5 class="footer-heading">Контакты</h5>
                    <ul class="footer-links">
                        <li><i class="fas fa-envelope"></i> <a href="mailto:pn31@mail.ru">pn31@mail.ru</a></li>
                        <li><i class="fas fa-phone"></i> <a href="tel:+78001234567">8 (800) 123-45-67</a></li>
                        <li><i class="fas fa-map-marker-alt"></i> г. Нефтеюганск</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h5 class="footer-heading">Разработчик</h5>
                    <p class="footer-text">
                        <strong>Пинигин Сергей Николаевич</strong><br>
                    </p>
                    <div class="footer-social">
                        <a href="#" class="social-link"><i class="fab fa-vk"></i></a>
                        <a href="#" class="social-link"><i class="fab fa-telegram"></i></a>
                        <a href="#" class="social-link"><i class="fab fa-github"></i></a>
                    </div>
                </div>
            </div>
            <hr class="footer-divider">
            <div class="row">
                <div class="col-md-6">
                    <p class="copyright">&copy; @DateTime.Now.Year - Образовательный портал по русскому языку</p>
                </div>
                <div class="col-md-6 text-md-end">
                    <p class="footer-links-bottom">
                        <a href="#">Политика конфиденциальности</a> |
                        <a href="#">Условия использования</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
