@{
    ViewData["Title"] = "Панель администратора";
}

<h2>Панель администратора</h2>

<div class="row">
    <div class="col-md-4">
        <div class="card mb-4">
            <div class="card-header">
                <h5 class="card-title">Управление пользователями</h5>
            </div>
            <div class="card-body">
                <p class="card-text">Создание и управление учетными записями пользователей.</p>
                <a href="#" class="btn btn-primary">Управление пользователями</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-4">
            <div class="card-header">
                <h5 class="card-title">Управление классами</h5>
            </div>
            <div class="card-body">
                <p class="card-text">Создание и управление классами и назначение учителей.</p>
                <a href="#" class="btn btn-primary">Управление классами</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-4">
            <div class="card-header">
                <h5 class="card-title">Статистика</h5>
            </div>
            <div class="card-body">
                <p class="card-text">Просмотр статистики и аналитики по порталу.</p>
                <a href="#" class="btn btn-primary">Просмотр статистики</a>
            </div>
        </div>
    </div>
</div>
